<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Cadastro de Usuário</h1>

<form th:action="@{/usuarios/salvar}" method="post">
    <label>Nome:</label>
    <input type="text" name="nome" required><br><br>

    <label>Email:</label>
    <input type="email" name="email" required><br><br>

    <label>Telefone:</label>
    <input type="text" name="telefone"><br><br>

    <label>Endereço:</label>
    <input type="text" name="endereco"><br><br>

    <button type="submit">Salvar</button>
</form>

<br>
<a th:href="@{/}">Voltar</a>
</body>
</html>
